$background: rgba(13, 16, 24, 1);
$widget-bg: rgba(30, 30, 30, 0.4);
$shadow:    #0B0B0B;
$grey:      #9aa1bd;
$gre:       #d0c8a4;
$gre_variant: #ded8bf;

$black:     #282A36;
$red:       #F37F97;
$green:     #389971;
$orange:    #D65d0e;
$blue:      #282828;
$blue_variant: #504945;
$purple:    #C574DD;
$teal:      #79E6F3;
$white:     #FDFDFD;
$yellow:    #e0a428;
$mar:       #315d6a;
$brown:     #8f5d1e;
$bor:       #1f1e1e;
