.bar {
  font-size: 16px;
  background-color: transparentize($bgLighter, 0.2);
  box-shadow: 0 0 3px 0 black;
  border-bottom: 1px solid $bg;
}

.barSystem {
  background-color: $bg;
  padding: 3px;
  margin: 3px;
  border-radius: 0.8rem;
}

.barDashboard {
  background-color: $bg;
  padding: 3px;
  margin: 3px;
  border-radius: 0.8rem;
}

.active {
  background: $primary;
  color: $primaryText;
}

.clock {
  padding: 0 6px;
  font-weight: bold;
}

.bar_controlcenter_container {
  padding: 6px;
}
